body {
        font-family: 'Helvetica', sans-serif;
        background: url('https://github.com/Neonatal-AI/.github/blob/main/uofl_med_emblem-ascii-art.png') center center fixed; 
        color: #333; /* Set your desired text color */
        margin: 20px;
        padding: 20px;
      }
      h1, h2, h3, h4, h5, h6 {
        color: #0366d6; /* GitHub heading color */
      }
      a {
        color: #0366d6; /* GitHub link color */
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
      code, pre {
        font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
        background-color: #f3f4f6; /* GitHub code block background color */
        border-radius: 6px;
        padding: 2px 4px;
      }
      pre {
        overflow: auto;
      }
      table {
        border-collapse: collapse;
        width: 100%;
        margin-bottom: 16px;
        border: 1px solid #dfe2e5; /* GitHub table border color */
      }
      th, td {
        border: 1px solid #dfe2e5; /* GitHub table border color */
        padding: 8px;
        text-align: left;
      }
      th {
        background-color: #f6f8fa; /* GitHub table header background color */
      }
